* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  body {
	background-image: url("https://res.cloudinary.com/dtn85o6up/image/upload/v1657837702/bgg_d72jlj.jpg");
	background-size: cover;
	font-family: sans-serif;
	padding: 10px;
  }
  
  h1 {
	text-align: center;
	margin-bottom: 15px;
  }
  
  .items h2,
  .cart h2 {
	margin-bottom: 15px;
	text-align: center;
  }
  
  .si-content h3 {
	margin-bottom: 15px;
  }
  
  .container {
	max-width: 800px;
	margin: auto;
	border: 2px solid brown;
	border-radius: 30px;
	display: flex;
	background-color: rgba(255, 255, 255, 0.3);
  }
  
  .items {
	width: 60%;
	padding: 20px;
	height: 700px;
  }
  
  .cart {
	width: 40%;
	padding: 20px;
	border-left: 2px solid brown;
	background-image: url("https://res.cloudinary.com/dtn85o6up/image/upload/v1657837687/cart_ytyxgj.png");
	background-size: 150px;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	height: 700px;
  }
  
  .single-item {
	display: flex;
	border-bottom: 1px solid brown;
	padding: 15px 0;
  }
  
  .single-item:last-child {
	border-bottom: 0;
  }
  
  .single-item img {
	max-width: 150px;
  }
  
  .single-item .si-content {
	width: 70%;
	padding-top: 20px;
  }
  
  .single-item .si-content p {
	font-size: 20px;
  }
  
  .single-item .actions {
	width: 30%;
  }
  
  .single-item .actions input {
	height: 40px;
	width: 60px;
	text-align: center;
	font-size: 18px;
  }
  
  .single-item .actions button {
	width: 60px;
	margin-top: 10px;
	height: 30px;
	font-size: 16px;
  }
  
  .cart-single-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
  }
  
  .cart-single-item h3 {
	margin-bottom: 0;
  }
  
  .cart-single-item button {
	padding: 5px;
  }
  
  .total {
	position: absolute;
	bottom: 20px;
	left: 20px;
	font-size: 24px;
  }
  
  @media only screen and (max-width: 790px) {
	.items {
	  padding: 5px;
	}
	.cart {
	  padding: 20px 5px;
	}
  }
  
  @media only screen and (max-width: 720px) {
	.container {
	  flex-direction: column;
	}
	.cart,
	.items {
	  width: 100%;
	}
	.cart {
	  border-left: 0px;
	}
	.single-item .actions {
	  display: flex;
	  flex-direction: column;
	}
  }
  @media only screen and (max-width: 350px) {
	.single-item img {
	  max-width: 95px;
	}
	.single-item .si-content {
	  padding: 0px;
	}
  }
  @media only screen and (max-width: 300px) {
	.single-item {
	  flex-direction: column;
	  align-items: center;
	}
	.cart-single-item {
	  flex-direction: column;
	  height: 100px;
	}
	.single-item .si-content {
	  display: flex;
	  justify-content: center;
	}
	.si-content h3 {
	  margin-right: 5px;
	  margin-bottom: 10px;
	}
	.single-item .actions {
	  flex-direction: row;
	  width: 100%;
	  justify-content: center;
	}
	input[type="number"] {
	  margin-right: 5px;
	}
	.items {
	  height: 800px;
	}
  }
  